.background{
    background-image: url('./assets/products/BG.png');
    background-size:contain ;
    background-repeat: no-repeat;
    padding: 10%

}

.swiper-container {
    padding-top: 20px;
    /* Adjust as needed */
    padding-bottom: 20px;
}